<button
  type="button"
  class="btn btn-primary w-100 bg-info text-black text-decoration-none p-2 mt-2 text-center"
  data-bs-toggle="modal"
  data-bs-target="#tournamentStatus"
>
  Update Status
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="tournamentStatus"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="tournamentStatusLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-info" id="tournamentStatusLabel">Update
          Tournament Status</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="/tournaments/{{_id}}/status" method="post">
        <div class="modal-body">
          <label for="name" class="text-info mb-2">Status</label>
          <select
            name="status"
            required
            class="p-2 mt-2 border-info rounded custom-inputstyle w-100"
          >
            <option value="">Choose New Status</option>
            <option value="not started" {{#ifEquals status "not started"}}selected{{/ifEquals}}>Not Started</option>
            <option value="ongoing" {{#ifEquals status "ongoing"}}selected{{/ifEquals}}>Ongoing</option>
            <option value="paused" {{#ifEquals status "paused"}}selected{{/ifEquals}}>Paused</option>
            <option value="completed" {{#ifEquals status "completed"}}selected{{/ifEquals}}>Completed</option>
          </select>

        </div>

        <div class="modal-footer w-100 d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Cancel
          </button>
          <button type="submit" class="btn btn-info">
            Update Status
          </button>
        </div>
      </form>

    </div>
  </div>
</div>