{{! banner }}
<div>
  <div class="banner-overlay index-banner-overlay"></div>
  <div class="index-banner">
    <div
      class="p-4 d-flex justify-content-center align-items-center h-75 index-header-content"
    >
      {{! header content }}
      <div
        class="d-flex justify-content-center flex-column align-items-center banner-header"
      >

        <h1 class="text-white col-8">
          Unleash Your Gaming Potential.
          <br />
          Play, Compete, Conquer!
        </h1>
        <p class="text-white-50 col-6 mt-4">
          Ready for the ultimate gaming showdown? Join TourneyHub, the hub of
          epic tournaments and friendly competition. Sign up now and elevate
          your gaming to new heights. Don't wait, start your journey to victory
          today!
        </p>

      </div>

      {{! scroll of ongoing tournaments }}
      <div class="index-ongoing-tournaments">

        {{! tournament card }}
        <div>

        </div>
      </div>

    </div>

  </div>
</div>

{{! in progress }}

{{! tournaments }}

{{! create tournaments }}