body {
  margin: 0;
  padding: 0px;

  background-color: rgb(47, 47, 47);
}

* {
  font-family: "Orbitron", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* generic styles */
.h-min {
  height: min-content !important;
}

.max-h-50 {
  max-height: 50% !important;
}

.bg-trans {
  background: transparent !important;
}

/* end */

/* main styles here */
main {
  min-height: 80%;
}

nav li > a {
  color: rgb(234, 234, 234) !important;
  font-weight: bold;
}

nav {
  z-index: 1000 !important;
  position: inherit;
}

/* end  */



/* auth styles */

#signup-form {
  margin: 18% 0 0% 0;
  padding-bottom: 15%;
}


/* end */


/* generic */

.z-100 {
  z-index: 100 !important;
}

.z-150 {
  z-index: 150 !important;
}

.font-sm {
  font-size: 12px !important;
}

.banner-overlay {
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  z-index: 5;
}

.banner-header {
  padding-top: 10%;
}

.banner-header > h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.banner-header > p {
  text-align: center;
  font-weight: bold;
  color: rgb(243, 243, 243) !important;
}

/* end */

/* index page styles */
.index-banner {
  min-height: 90vh;
  background: url("https://unsplash.com/photos/nmTm7knUnqs/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyMDMwMzc5fA&force=true&w=1920");
  background-size: cover;
  background-position: center center !important;
  margin-top: -100px;
  position: relative;
}

.index-header-content {
  z-index: 100 !important;
  position: relative;
}


.index-create-tournament-div {

  background: url("https://unsplash.com/photos/m3hn2Kn5Bns/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkxNjk3OTY5fA&force=true&w=2400");
  background-position: center center;
}

.index-create-tournament-div > div {
  background-color: rgba(0, 0, 0, 0.8);
}
/* end */

/* tournaments */
.tournaments-banner {
  background: url("https://unsplash.com/photos/m3hn2Kn5Bns/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkxNjk3OTY5fA&force=true&w=2400");
}
.tournaments-details-banner {
  background: url("https://unsplash.com/photos/VvnTNsQgdD8/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTR8fGdhbWUlMjB0b3VybmFtZW50fGVufDB8fHx8MTY5MjIwMDA4MHww&force=true&w=1920");
}



.tournament-card-title > h6 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.tournament-card-title > p {
  font-size: 12px;
}

.tournament-card {
  width: 32% !important;
}

.tournament-card-banner {
  max-height: 40% !important;
}
/* end */ */

/* my-tournaments */

.my-tournaments-banner {
  background: url("/images/1252748.png") !important;
}
/* end */

/* create tournaments */

.custom-inputstyle {
  height: 40px;
  padding: 0 5px;
}

.selected-banner {
  display: none;
  width: 100%;
  height: 150px;
}

/* end */




@media (max-width: 768px) {
  /* Apply styles only on screens with a maximum width of 768px (adjust as needed) */
  .tournament-card {
    width: 100% !important;
  }

  .banner-header {
    padding-top: 30%;
  }
  
  .banner-header > h1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }
  
  .banner-header > p {
    text-align: center;
    font-weight: 500;
    color: rgb(247, 247, 247) !important;
  }

  #signup-form {
    margin: 20% 0 0% 0;
  }
  
}