<div>
  <div class="banner-overlay index-banner-overlay"></div>
  <div class="index-banner my-tournaments-banner">
    <div
      class="p-4 d-flex justify-content-center align-items-center h-75 index-header-content"
    >
      {{! header content }}
      <div
        class="d-flex justify-content-center flex-column align-items-center banner-header"
      >

        <h1 class="text-white col-8">
          Your Tournament Hub!
        </h1>
        <p class="text-white-50 col-7 mt-4">
          Explore your joined and created tournaments - the essence of your
          gaming journey. Dive in, conquer challenges, and bask in gaming glory!
        </p>

      </div>
    </div>

  </div>
</div>