<div>
  <div class="banner-overlay index-banner-overlay"></div>
  <div class="index-banner my-tournaments-banner">
    <div
      class="p-4 d-flex justify-content-center align-items-center h-75 index-header-content"
    >
      {{! header content }}
      <div
        class="d-flex justify-content-center flex-column align-items-center banner-header"
      >

        <h1 class="text-white col-8">
          Your Tournament Hub!
        </h1>
        <p class="text-white-50 col-7 mt-4">
          Explore your joined and created tournaments - the essence of your
          gaming journey. Dive in, conquer challenges, and bask in gaming glory!
        </p>

      </div>
    </div>

  </div>

</div>

{{! content here }}
<div class="p-5">
  {{! heading }}
  <div class="d-flex flex-column flex-md-row justify-content-lg-between">
    <h4 class="text-white fs-6 text-center text-lg-start">Created Tournaments</h4>

    <a href="/tournaments/create-tournament">
      <button class="bg-info border-0 fs-6 px-4 py-2 shadow-lg">Create New
        Tournament
      </button>
    </a>
  </div>

  {{! tournaments }}

  <div class="col-12 d-flex flex-wrap mt-4 d-grid gap-3">
    {{! tournament card }}
    {{#each createdTournaments}}

      {{> createdTournamentCard this}}

    {{/each}}
  </div>
</div>

{{!-- joined Tournaments --}}
<div class="p-5">
  {{! heading }}
  <div class="d-flex flex-column flex-md-row justify-content-lg-between">
    <h4 class="text-white fs-6 text-center text-lg-start">Joined Tournaments</h4>
  </div>

  {{! tournaments }}

  <div class="col-12 d-flex flex-wrap mt-4 d-grid gap-3">
    {{! tournament card }}
    {{#each joinedTournaments}}

      {{> archiveTournament this}}

    {{/each}}
  </div>
</div>