<div>
  <div class="banner-overlay index-banner-overlay"></div>
  <div class="index-banner tournaments-banner">
    <div
      class="p-4 d-flex justify-content-center align-items-center h-75 index-header-content"
    >
      {{! header content }}
      <div
        class="d-flex justify-content-center flex-column align-items-center banner-header"
      >

        <h1 class="text-white col-8">
          Enter the Arena of Champions!
        </h1>
        <p class="text-white-50 col-7 mt-4">
          Experience electrifying tournaments for every gaming passion. Embrace
          the challenge, seize the glory, and let the games begin!
        </p>

      </div>
    </div>

  </div>
</div>

{{! content }}
<div class="p-5">
  {{! heading }}
  <div class="d-flex flex-column flex-md-row justify-content-md-between">
    <h4 class="text-white fs-6 text-center text-lg-start">Upcoming Tournaments</h4>
    <form action="#">
      <div class="d-flex flex-column flex-md-row gap-2">
        {{! game type; upcoming, ongoing }}
        <select
          name="status"
          class="px-3 py-2 bg-transparent border-info text-info"
        >
          <option value="">All tournaments</option>
          <option value="not started">Not Started</option>
          <option value="ongoing">In Progress</option>
          <option value="completed">Completed</option>
        </select>

        {{! platform }}
        <select
          name="gamePlatform"
          class="px-3 py-2 bg-transparent border-info text-info"
        >
          <option value="">All Platforms</option>
          <option value="XBox">XBox</option>
          <option value="PC">PC</option>
          <option value="Playstation">Playstation</option>
          <option value="Mobile">Mobile</option>
        </select>

        {{! search button }}
        <a href="#">
          <button class="bg-info border-0 fs-6 px-4 py-2 shadow-lg w-100">
            Filter
          </button>
        </a>
      </div>
    </form>
  </div>

  <div
    class="col-12 d-flex flex-column flex-md-row flex-wrap mt-4 d-grid gap-3"
  >
    {{! tournament card }}
    {{#each tournaments}}
      {{! TODO: Bring > for partials }}
      {{> tournamentCard this}}
    {{/each}}
  </div>

</div>

{{#if completedTournaments}}

  <div class="p-5">
    {{! heading }}
    <div class="d-flex flex-column flex-md-row justify-content-md-between">
      <h4 class="text-white fs-6 text-center text-lg-start">Archives</h4>
    </div>

    <div
      class="col-12 d-flex flex-column flex-md-row flex-wrap mt-4 d-grid gap-3"
    >
      {{! tournament card }}
      {{#each completedTournaments}}
        {{! TODO: Bring > for partials }}
        {{> archiveTournament this}}
      {{/each}}
    </div>

  </div>
{{/if}}