<div>
  <div class="banner-overlay index-banner-overlay"></div>
  <div class="index-banner tournaments-details-banner">
    <div
      class="p-4 d-flex justify-content-center align-items-center h-75 index-header-content"
    >
      {{! header content }}
      <div
        class="d-flex justify-content-center flex-column align-items-center banner-header"
      >

        <h1 class="text-white col-8 w-100">
          {{name}}
        </h1>
        <p class="text-white col-7 mt-2 w-100">
          {{game}}
        </p>
        <p class="text-white col-7 mt-2 w-100">
         <img src="{{getPlatformIcon gamePlatform}}" alt="icon" class="bg-white rounded-3 p-1 me-1" width="32" height="32">  {{gamePlatform}}
        </p>

      </div>
    </div>

  </div>
</div>