<div>
  <div class="banner-overlay index-banner-overlay"></div>
  <div class="index-banner tournaments-banner">
    <div
      class="p-4 d-flex justify-content-center align-items-center h-75 index-header-content"
    >
      {{! header content }}
      <div
        class="d-flex justify-content-center flex-column align-items-center banner-header"
      >

        <h1 class="text-white col-8">
          Enter the Arena of Champions!
        </h1>
        <p class="text-white-50 col-7 mt-4">
          Experience electrifying tournaments for every gaming passion. Embrace
          the challenge, seize the glory, and let the games begin!
        </p>

      </div>
    </div>

  </div>
</div>